@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(95, 95, 95, 0.39);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalForm {
    /*parte branca do forms*/
    width: 1100px;
    min-height: 80vh;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: rgba(65, 105, 225, 0.3) 0px 2px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actionBtns {

    width: 50%;
    background-color: #4169E1;
    margin: 2em;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
}

.actionBtn {
    padding: 1em;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    
}

.inputGroup {
    width: 500px;
    margin: 0.8em 0;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    /*mudar-shadow box para vermelho para quando estiver errado e verde para certo*/
    /*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;*/
    font-weight: 500;
    
}

.inputGroup input {
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    
}

.inputGroup input:focus {
    outline: none;
    
    
}

.submitBtn {
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #4169E1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    
}

.form {
    display: none;
}

.signupForm {
    display: block;
}

.loginForm {
    display: block;
}

.btn-primary {
    color: #fff;
    background-color: #4169E1;
    border-color: #4169E1;
    border-radius: 50px;
  
}
